.endless-slider {
    background-color: #EBECEF;
}

.endless-slider__items .swiper-wrapper {
    transition-timing-function: linear !important;
    -webkit-transition-timing-function: linear !important;
    -o-transition-timing-function: linear !important;
}

.endless-slider__item {
    color: #757575;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    width: auto;
}

.endless-slider__item_highlight {
    color: rgb(var(--color-foreground));
}