.endless-slider {
    background-color: var(--light-gold-color);
    color: var(--rich-black-color);
}

.endless-slider__items .swiper-wrapper {
    transition-timing-function: linear !important;
    -webkit-transition-timing-function: linear !important;
    -o-transition-timing-function: linear !important;
}

.endless-slider__item {
    color: #757575;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    width: auto;
    color: var(--golden-color);
}

.endless-slider__item_highlight {
    font-size: 24px;
    color: inherit;
}