.products-slider {

}

.products-slider__top {

}

.products-slider__main {
    color: rgba(48, 49, 57, 1);
}

.slider-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* flex-direction: column; */
    margin: 40px 0;
}

@media (min-width: 768px) {
    .slider-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        margin: 60px 0;
    }
}

.slider-top__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

@media (min-width: 992px) {
    .slider-top__info {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
}

.slider-top__title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

@media (min-width: 576px) {
    .slider-top__title {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .slider-top__title {
        font-size: 24px;
    }
}

@media (min-width: 992px) {
    .slider-top__title {
        font-size: 28px;
    }
}

@media (min-width: 1200px) {
    .slider-top__title {
        font-size: 32px;
    }
 }

.slider-top__link {
}

.slider-top__controls {
    align-self: flex-end;
}

@media (min-width: 768px) {
    .slider-top__controls {
        align-self: unset;
    }
}

.slider-top__button {
}

.slider-top__button svg {
    width: 30px;
    height: 15px;
}

@media (min-width: 768px) {
    .slider-top__button svg {
        width: initial;
        height: initial;
    }
}

.slider-top__button-prev {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

.slider-top__button-next {
}

.slider-main {
}

.slider-main__slider {
    position: relative;
    /* overflow: hidden; */
    /* margin-right: calc(var(--page-width-x-paddings-tablet) * -1); */
}

.slider-main__slider::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -200px;
    width: 200px;
    background-color: rgb(var(--color-background));
    z-index: 1;
    margin: -1px 0;
}

@media (min-width: 768px) {
    .slider-main__slider::after {
        left: -346px;
        width: 346px;
    }
}

/* @media (min-width: 576px) {
    .slider-main__slider {
        margin-right: calc(var(--page-width-x-paddings-tablet) * -1);
    }
}
@media (min-width: 768px) {
    .slider-main__slider {
        margin-right: calc(var(--page-width-x-paddings-tablet) * -1);
    }
}

@media (min-width: 1200px) {
    .slider-main__slider {
        margin-right: calc(var(--page-width-x-paddings-desktop) * -1);
    }
}

@media (min-width: 1400px) {
    .slider-main__slider {
        margin-right: calc((100vw - (var(--page-width) - var(--page-width-x-paddings-desktop) * 2)) / 2 * -1);
    }
} */

.slider-main__wrapper {
    /* display: flex; */
    padding: 0 0 37px 0;
}

.slider-main__slide {
    /* flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 346px; */
    /* flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%; */
    width: 200px;
}

@media (min-width: 768px) {
    .slider-main__slide {
        width: 346px;
    }
}

.swiper-wrapper {
}

.slider-slide {
    /* max-width: 346px; */
}

.slider-slide:hover .slider-slide__button {
    opacity: 1;
    visibility: visible;
}

.swiper-scrollbar-drag {
    cursor: pointer;
    /* max-width: 346px; */
    height: 4px;
    background-color: rgba(1, 28, 39, 1);
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
    width: 100%;
    left: 0;
    bottom: 0;
}

.slider-slide__wrapper {
}

.slider-slide__image {
    position: relative;
    margin: 0 0 16px 0;
}

.slider-slide__button {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    top: unset;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    padding: 0;
    color: #011C27;
    border: 1px solid #011C27;
    background: #FBFBFF;
    transition: all 0.3s ease 0s;
    opacity: 0;
    visibility: hidden;
}

@media (min-width: 768px) {
    .slider-slide__button {
        position: absolute;
        top: unset;
        right: 0;
        bottom: 0;
        left: 0;
        width: auto;
        height: auto;
        padding: 10px 90px;
        color: #011C27;
        border: 1px solid #011C27;
        background: #FBFBFF;
        transition: all 0.3s ease 0s;
        opacity: 0;
        visibility: hidden;
    }
}

.slider-slide__button:hover {
    border: 1px solid #22AED1;
    background: #FBFBFF;
    color: #22AED1;
}

.slider-slide__image img {
    display: block;
    line-height: 0;
    max-width: 100%;
    height: auto;
}

.slider-slide__image svg {
    width: 200px;
}

@media (min-width: 768px) {
    .slider-main__slide {
        width: 346px;
    }
}

.slider-slide__title {
    margin: 0 0 12px 0;
}

.slider-slide__title,
.slider-slide__price {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}

.slider-slide__nickname {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(188, 188, 192, 1);
    margin: 0 0 19px 0;
}

.slider-slide__price {
   margin: 0;
}


.swiper-slide {
}
.swiper-scrollbar {
}

/* $content-width: 1568px;
$container-offset: 15px;
$container-width: calc($content-width + ($container-offset * 2)); */


/* == setting up container and paddings == */
/* .page-width {
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 var(--page-width-x-paddings-mobile);
  }
  @media screen and (min-width: 480px) {
    .page-width {
      padding: 0 var(--page-width-x-paddings-tablet);
    }
  }
  @media screen and (min-width: 992px) {
    .page-width {
      padding: 0 var(--page-width-x-paddings-desktop);
    }
  } */
  /* == setting up container and paddings == */

/* .slider-container {
    padding: 0 0 0 clamp(1.25rem, 0.3977rem + 4.2614vw, 5rem);
}

@media (min-width: 1200px) {
    .slider-container {
        padding: 0 0 0 80px;
    }
} */
